---
import { siteConfig } from "../../config";

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
const commentsConfig = siteConfig.comments;

if (!commentsConfig?.enable) {
	return null;
}
---

<div class={`giscus-container ${className}`}>
    <script src="https://giscus.app/client.js"
        data-repo={commentsConfig.repo}
        data-repo-id={commentsConfig.repoId}
        data-category={commentsConfig.category}
        data-category-id={commentsConfig.categoryId}
        data-mapping={commentsConfig.mapping}
        data-strict="0"
        data-reactions-enabled={commentsConfig.reactionsEnabled ? "1" : "0"}
        data-emit-metadata={commentsConfig.emitMetadata ? "1" : "0"}
        data-input-position={commentsConfig.inputPosition}
        data-theme={commentsConfig.theme}
        data-lang={commentsConfig.lang}
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
</div>

<style>
    .giscus-container {
        @apply mt-8 rounded-xl overflow-hidden;
    }
</style> 